# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/ZeppelinRemoteNotebooks/
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
CalcSpringIvan.iml
pom.xml
target/
